header{
    background-color: #171717;
}

}
section{
    background-color:#DA0037;


}
aside {
    background-color:white;

}
footer{
    background-color: #EDEDED;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

<!-- -Definicion de max de pantalla->

@media (max-width: 575.98px)

@media (max-width: 767.98px) 


@media (max-width: 991.98px) 


@media (max-width: 1199.98px) 
