header{
    background-color: #171717;
}

section{
    background-color:#DA0037 ;
    grid-column: 1/3;
}
aside {
    background-color:white;
    grid-column: 4/5;
}
footer{
    background-color: #444444;
    text-align: center;
    grid-column: 1/5;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

@media (max-width: 575.98px)

@media (max-width: 767.98px) 


@media (max-width: 991.98px) 


@media (max-width: 1199.98px) 
