header{
    background-color: #171717;
}

}
section{
    background-color:#DA0037;


}
aside {
    background-color:white;

}
footer{
    background-color: #EDEDED;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}